*{
    padding: 0;
    margin: 0;
}

body{
    background-color: crimson;
}

header{
    display: flex;
}

#container {
    display:flex;
    justify-content: center;
    margin-top: 1.5em;
}

.tree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 100px solid green;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    transform: rotate(180deg);
    margin: 1em;
}

.trunk{
    position: relative;
    top: 116px;
    right: 75px;
    height: 20px;
    width: 20px;
    background-color: #8B4513;
}

.first{
    position: relative;
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    top: 50px;
    right: 90px;
}

.second{
    position: relative;
    height: 15px;
    width: 15px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 98px;
    right: 85px;
}

.third{
    position: relative;
    height: 15px;
    width: 15px;
    background-color:blueviolet;
    border-radius: 50%;
    top: 87px;
    left: -150px;
}

